body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: medium;
    font-weight: 100;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(50%, 50%);
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.text-overlay h1 {
    margin: 0;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container text{
    display: flex;
    justify-content: flex-end;
}



* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fef9f6;
 }


.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}


.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.left-column .large-image img {
    width: 100%;
    border-radius: 8px;
}


.left-column .small-images {
    display: flex;
    gap: 10px;
}


.left-column .small-images img {
    width: 50%;
    border-radius: 8px;
}


.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right-column p {
    color: #444;
    line-height: 1.5;
}


.order-btn {
    display: inline-block;
    background-color: #003366;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: 20px;
}


.order-btn:hover {
    background-color: #0a74dd;
}

 @media(max-width:768px) {

.container {
        flex-direction: column;
}

.left-column .small-images img {
        width: 100%;
}

}


.text{
    color: #003366;
    font-size: larger;
    font-style: italic;
    justify-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}


.end h1{
    text-align: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    color: #003366;
    font-style: italic;
}


.card {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
    width: 550px;
    height: 550px;
    margin: 20px;
    padding: 20px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.card-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
    color: #000000;
}


.image-collection {
    position: relative;
}

.image-collection img {
    width: 100%;
    display: block;
}
