:root{
    --piramry:  #003366;
    --secondry: rgb(254, 119, 67) 


  }
  body {
    margin: 0;
    padding: 0;
  }



  header {
    position: relative;
    z-index: 10;
  }


  .after-header {
    height: 40px;
  }


  .custom-link {
    color: #ffffff !important; 
    transition: color 0.3s ease;
  }


.custom-link:hover {
    color: #4a7fbf !important; 
  }


.nav {
    background-color: var(--piramry) ;
  }


  .btn{
    background-color:#4a7fbf ;
  }


  .text{
    color: #ffffff;
  }

  .text3{
    color:#4a7fbf
  }
.btn:hover{
    background-color:#003366 ;
  }










  
.footer h2 {
  font-weight: bold;
}

.footer p {
  margin: 5px 0;
  font-weight: bold;
}

.footer a {
  text-decoration: none;
  font-weight: bold;
  color: #4a7fbf;


}

.bt{
  margin-left: 400px;
}