
:root{
  --piramry:  #003366;
  --secondry: rgb(254, 119, 67) 
  
}
body {

  margin: 0;
  padding: 0;

}

header {

  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.25);

  position: relative;
  z-index: 10;
}



.after-header {
  height: 40px;

}


.custom-link {
  color: #ffffff !important; 
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #000000 !important; 
}


     
.nav {
  background-color: var(--piramry) ;
}

.btn{
  background-color:#4a7fbf ;
}
.text{
  color: #003366;
}

.text3{
  color:#4a7fbf
}
/* ...................... */










/* 
-primary-color: #003366;
    --secondary-color: #4a7fbf; */



.footer h2 {
    font-weight: bold;
  }
  
  .footer p {
    margin: 5px 0;
    font-weight: bold;
  }
  
  .footer a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(27, 16, 131);


  }